
.highlight {
	background: #ffffff;
	.c { color: #ccccc4; font-style: italic } /* Comment */
	.err { color: #d38b8b; background-color: #e3d2d2 } /* Error */
	.k { font-weight: bold } /* Keyword */
	.o { font-weight: bold } /* Operator */
	.cm { color: #ccccc4; font-style: italic } /* Comment.Multiline */
	.cp { color: #cccccc; font-weight: bold } /* Comment.Preproc */
	.c1 { color: #ccccc4; font-style: italic } /* Comment.Single */
	.cs { color: #cccccc; font-weight: bold; font-style: italic } /* Comment.Special */
	.gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
	.gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
	.ge { font-style: italic } /* Generic.Emph */
	.gr { color: #aa0000 } /* Generic.Error */
	.gh { color: #cccccc } /* Generic.Heading */
	.gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
	.gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
	.go { color: #c4c4c4 } /* Generic.Output */
	.gp { color: #aaaaaa } /* Generic.Prompt */
	.gs { font-weight: bold } /* Generic.Strong */
	.gu { color: #d5d5d5 } /* Generic.Subheading */
	.gt { color: #d58080 } /* Generic.Traceback */
	.kc { font-weight: bold } /* Keyword.Constant */
	.kd { font-weight: bold } /* Keyword.Declaration */
	.kp { font-weight: bold } /* Keyword.Pseudo */
	.kr { font-weight: bold } /* Keyword.Reserved */
	.kt { color: #a2aac4; font-weight: bold } /* Keyword.Type */
	.m { color: #80cccc } /* Literal.Number */
	.s { color: #ee88a2 } /* Literal.String */
	.na { color: #80c0c0 } /* Name.Attribute */
	.nb { color: #80c3d9 } /* Name.Builtin */
	.nc { color: #a2aac4; font-weight: bold } /* Name.Class */
	.no { color: #80c0c0 } /* Name.Constant */.ni { color: #800080 } /* Name.Entity */
	.ni { color: #c080c0 } /* Name.Entity */
	.nf { color: #cc8080; font-weight: bold } /* Name.Function */
	.nn { color: #aaaaaa } /* Name.Namespace */
	.nt { color: #8080c0 } /* Name.Tag */
	.nv { color: #80c0c0 } /* Name.Variable */
	.ow { font-weight: bold } /* Operator.Word */
	.w { color: #dddddd } /* Text.Whitespace */
	.mf { color: #80cccc } /* Literal.Number.Float */
	.mh { color: #80cccc } /* Literal.Number.Hex */
	.mi { color: #80cccc } /* Literal.Number.Integer */
	.mo { color: #80cccc } /* Literal.Number.Oct */
	.sb { color: #ee88a2 } /* Literal.String.Backtick */
	.sc { color: #ee88a2 } /* Literal.String.Char */
	.sd { color: #ee88a2 } /* Literal.String.Doc */
	.s2 { color: #ee88a2 } /* Literal.String.Double */
	.se { color: #ee88a2 } /* Literal.String.Escape */
	.sh { color: #ee88a2 } /* Literal.String.Heredoc */
	.si { color: #ee88a2 } /* Literal.String.Interpol */
	.sx { color: #ee88a2 } /* Literal.String.Other */
	.sr { color: #80cc93 } /* Literal.String.Regex */
	.s1 { color: #ee88a2 } /* Literal.String.Single */
	.ss { color: #cc80b9 } /* Literal.String.Symbol */
	.bp { color: #cccccc } /* Name.Builtin.Pseudo */
	.vc { color: #80c0c0 } /* Name.Variable.Class */
	.vg { color: #80c0c0 } /* Name.Variable.Global */
	.vi { color: #80c0c0 } /* Name.Variable.Instance */
	.il { color: #80cccc } /* Literal.Number.Integer.Long */
}

