---
layout: default
---

<main class="content" role="main">
    <article class="post">
        <header class="post-header">
            <a id="blog-logo" href="{{site.baseurl}}">
                {% if site.logo %}
                    <img src="{{site.logo}}" alt="{{ site.name }}" />
                {% else %}
                    <span class="blog-title">{{ site.name }}</span>
                {%endif%} 
            </a>
        </header>

        <h1 class="post-title">{{ page.title }}</h1>

        <section class="post-content">
            {{content}}
        </section>

    </article>

</main>
