---
layout: default
disqus: false
archive: false
post_class: post-template
---

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{page.cover}}){%else%}no-cover{%endif%}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        {%if site.logo%}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{site.logo}}" alt="{{site.name}}" /></a>{%endif%}
        {%if site.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
</header>

<main class="content" role="main">

    <article class="post">

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
                {% if page.categories.size > 0 %}
                    {{ page.categories | array_to_sentence_string | prepend: 'on ' }}
                {% endif %}
            </section>
        </header>

<!--         <header class="post-header">
            <a id="blog-logo" href="{{site.url}}">
                {% if site.logo %}
                    <img src="{{site.logo}}" alt="{{ site.name }}" />
                {% else %}
                    <span class="blog-title">{{ site.name }}</span>
                {%endif%}
            </a>
        </header> -->

        <!-- <span class="post-meta">
            <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
            {% if page.categories.size > 0 %}
                {{ page.categories | array_to_sentence_string | prepend: 'on ' }}
            {% endif %}
        </span> -->

        <!-- <h1 class="post-title">{{ page.title }}</h1> -->

        <section class="post-content">
            {{content}}
        </section>

        {% if page.archive %}
        <section class="archive">
            <h5>Archive</h5>
            <ul>
                {% for post in site.posts %}
                    <li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}

        <footer class="post-footer">
            <!-- If we want to display author's name and bio -->
            {% if site.author %}
                <figure class="author-image">
                    <a class="img" href="{{ site.baseurl }}" style="background-image: url(/assets/images/profile.png)">
                    <span class="hidden">{{site.author}}'s Picture</span></a>
                </figure>
                <section class="author">
                    <!-- Author Name -->
                    <h4> {{ site.author }} </h4>
                    <!-- Author Bio -->
                    {%if site.bio%}
                    <p>{{site.bio}}</p>
                    {%else%}
                    <p>Read <a href="{{site.baseurl}}">more posts</a> by this author.</p>
                    {%endif%}
                    <div class="author-meta">
                    {%if site.location%}<span class="author-location icon-location">{{site.location}}</span>{%endif%}
                    {%if site.website%}<span class="author-link icon-link"><a href="{{site.website}}">{{site.website}}</a></span>{%endif%}
                    </div>
                </section>
            {% endif %}

            <!-- Share links section -->
            {% include share.html %}

            <!-- Disqus comments -->
            {% if page.disqus %}
                {% include disqus.html %}
            {% endif %}

        </footer>

    </article>

</main>

<aside class="read-next">
  {%if page.next%}
  <a class="read-next-story {%if page.next.cover%}" style="background-image: url({{page.next.cover}}){%else%}no-cover{%endif%}" href="{{page.next.url}}">
      <section class="post">
          <h2>{{page.next.title}}</h2>
          <p>{{ page.next.excerpt | truncatewords: 19 | strip_html}}&hellip;</p>
      </section>
  </a>
  {%endif%}
  {%if page.previous%}
  <a class="read-next-story prev {%if page.previous.cover%}" style="background-image: url({{page.previous.cover}}){%else%}no-cover{%endif%}" href="{{page.previous.url}}">
      <section class="post">
          <h2>{{page.previous.title}}</h2>
          <p>{{ page.previous.excerpt | truncatewords: 19 | strip_html}}&hellip;</p>
      </section>
  </a>
  {%endif%}
</aside>
